body {
background-color: blanchedalmond; 
color: rgb(0, 0, 0);
font-family:
Georgia, "Times New Roman",
Times, serif; 

text-align: center;
}
.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
.name
{
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.marquee
{
  color: red;
}
:hover a
{
  color: red;
  
}
